basic question

In [ ]:
''''
1 What is Python, and why is it popular?

 python is a programming language developed in 1991 to provide ulternative to other language
 it is versatile language easy to use and learn there in much needed of syntax like need in c\c++ or others
 it has lots of library to perform different task such as data visualization manipulation to wrangle and explore
 apart from it work as a compiler and interpreter at a time that help use to perform task it is also a have implict funtion
 so to know data type without declaration
'''

In [ ]:
'''
2 what is interpreter in python?

 interpreter is a program that convert high level code to machine level
 in python the code is converted in byte code to exceute it line by line
 and perform task according to it
'''

In [ ]:
'''
3 what are pre defined keywords in python?

  pre defined keywords are actually like a free gift with shopping
  there are some keywords to perfom task directly by calling them
  that make to perform task easier
  some examples are or not and whilw for in is print
  with true false if else elif etc
'''

In [7]:
'''
4 can keywords be used as variable name>

  no keywords cant or should not be used as variable name

'''
print(if)

SyntaxError: invalid syntax (ipython-input-7-2516423346.py, line 7)

In [ ]:

'''
5 what is mutability in python?

 so bascially mutability is like a change while writing a program
 example roshan to mohan
 the change can be done only in list in which value variables are stored


'''

In [ ]:
'''
6  why list mutables but not the tuples?

tuples ar also like the list to store value and variables
both have different syntax list are mutables bcz each element cane be changed or replaced while in tuple cant
list are used to make changes if we require but tuples used as a fixed no change example password pincode address

'''

In [ ]:
'''
7 what is differnce bw ==  and is operator?

 == is basciallly is the compariosn operator to compare the the values
 example 2==2 that means 2 is equal to 2
 while is operator is bascially work of identity
 its function to indentity value variable in memory by true or false


 '''

In [ ]:
'''
8 what are logical operator in python?

 logical operator like and or not is used to combine or manipulate the boolen Value
 true or false acc to situation or demand

 '''

In [ ]:
'''
9 what is type casting?

 type casting is the function to change the format
 form int to str or from str to int or form int to float or wise verse

 '''

In [ ]:
'''
10 difference bw implict and explicit type casting?

 impilicit type casting means it automatically covert the data type by python itself
 whereas explicit user itself have to change the type what needed

'''

In [ ]:
'''
11 What is the purpose of conditional statements in Python?

 conditional statements basically uses when ther is multiple condition given
 such as in forget password use either otp from number or form email
 like if,else,ifelse,nested if

In [31]:
'''
12 How does the elif statement work?

  elif statement extended version of if statement where multiple condition given
  elif is used
'''
x=int(input("enter the no"))
if x%2==0:
  print("the no is even")
elif x%2<=1:
  print("the no is odd")
else:
  print("the no is in decimal")

enter the no445
the no is odd

In [36]:
'''
 13 What is the difference between for and while loops ?

 while loop is the loop in which it will execute till the condition is meet
 in for loop it is used to give the sequence of values
'''
count=4
while count>0:
  print(count)
  count=count-1

4
3
2
1

In [41]:
l=[1,2,5+9j,"roshan","nishu"]
for n in l:
  print(n)

1
2
(5+9j)
roshan
nishu

In [42]:
'''
14 Describe a scenario where a while loop is more suitable than a for loop?
'''
for i in range(10):
  print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [78]:
count=10
while count>0:
  print(count)
  count=count-1

10
9
8
7
6
5
4
3
2
1

# practical questions

In [77]:
'''
1 write a program to print hello world in python

'''

print("hello world")

hello world

In [ ]:
'''
2 write a program to print your name and age
'''
name="roshan"
age=25
print(f"my name is {name} and my age is {age}")

my name is roshan and my age is 25

In [ ]:
'''
3 write a program to all the pre defined keywords in python
'''
help ("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [45]:
'''
4 write a program to check given word is a python keywords
'''
import keyword
keyword.iskeyword("from")

True

In [49]:
'''
# 5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently for each?
'''
l=[1,2,3, "roshan","amit"]
l[0]=4
l

[4, 2, 3, 'roshan', 'amit']

In [64]:
l=(1,2,3,"roshan","amit")
l1=(45,65)
L=l=l+l1
L

(1, 2, 3, 'roshan', 'amit', 45, 65)

In [54]:
'''
6. Write a function to demonstrate the behavior of mutable and immutable arguments.

'''

l=[1,2,3,"roshan"]
print(l[-1])
l[0]=4
l

roshan

[4, 2, 3, 'roshan']

In [57]:
a=(1,23,45,6,)
a

(1, 23, 45, 6)

In [66]:
a[3]=45

TypeError: 'tuple' object does not support item assignment

In [80]:
'''
7. Write a program that performs basic arithmetic operations on two user-input numbers
'''

'\n7. Write a program that performs basic arithmetic operations on two user-input numbers\n'

In [ ]:
x=45
y=9
print("addition" ,x+y)
print("subtraction" ,x-y)
print("multiplication" ,x*y)
print("division" ,x/y)

addition 54
subtraction 36
multiplication 405
division 5.0

In [ ]:
'''
8. Write a program to demonstrate the use of logical operators.
'''
a= True
b= False
print(a and b)
print(a or b)
print(not a)

False
True
False

In [ ]:
'''
9. Write a Python program to convert user input from string to integer, float, and boolean types.
'''
a=("5")
type(a)

str

In [ ]:
a=int(a)
type(a)

int

In [ ]:
a=("5.65")
type(a)

str

In [ ]:
a=float(a)
type(a)

float

In [ ]:
a=("true")
type(a)

str

In [ ]:
a=bool(a)
type(a)

bool

In [84]:
'''
 10. Write code to demonstrate type casting with list elements

'''
l=[1,2,3,4,5]
type(l)
a=str(l)
type(a)

str

In [76]:
''' 11. Write a program that checks if a number is positive, negative, or zero.
'''
x=int(input("enter the no"))
if x>0:
  print("the no is positive")
elif x<0:
  print("the no is negaative")
else:
  print("the no is zero")

enter the no 45
the no is positive

In [68]:
'''
12. Write a for loop to print numbers from 1 to 10?
'''
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [70]:
'''
13. Write a Python program to find the sum of all even numbers between 1 and 50.?
'''
add=0
for i in range(1,51):
  if i%2==0:
    add=add+i
print(add)

650

In [75]:
'''
14. Write a program to reverse a string using a while loop?

'''
a="roshan"
i=len(a)-1
while i>=0:
  print(a[i])
  i=i-1

n
a
h
s
o
r

In [73]:
'''
15. Write a Python program to calculate the factorial of a number provided by the user using a while loop?
'''
num=int(input("enter the no"))
fact=1
while num>0:
  fact=fact*num
  num=num-1
print(fact)

enter the no 6
720